.navBarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 0 6px black;
    margin-bottom: 50px;
    .links_container {
        width: 300px;
        display: flex;
        justify-content: space-between;
        a {
            color: black;
            align-content: center;
            margin: 12px;
            text-decoration: none;
            &.active {
                color: cadetblue
                }
        }

    }

}
